<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="container" class="container {% if emotion %}with-results{% endif %}">
        {% if not emotion %}
            <h1>How are you feeling?</h1>
            <div class="search-form">
                <form action="/search" method="post">
                    <input type="text" name="query" placeholder="Enter your feelings" required>
                    <button type="submit">Search</button>
                </form>
            </div>
        {% endif %}
        {% if emotion %}
            <div class="emotion">
                <h2>Predicted Emotion: <span style="color: yellow;">{{ emotion }}</span></h2>
            </div>
            <div class="recommended">
                <h2>Recommended songs based on your mood:</h2>
            </div>
        {% endif %}
        {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        {% if tracks is not none %}
            <div class="results">
                {% for track in tracks %}
                    <div class="track">
                        <p>{{ track.name }} <span class="artists">by {{ track.artists }}</span></p>
                        <div class="album_div">Album: <span class="album">{{ track.album_name }}</span></div>
                        {% if track.preview_url %}
                            <audio controls>
                                <source src="{{ track.preview_url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        {% else %}
                            <p>No preview available</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script>
        window.onload = function() {
            {% if tracks is not none %}
                document.getElementById('container').classList.add('with-results');
            {% endif %}
        }
    </script>
</body>
</html>
